/*  Name        Color
 *  Black Haze  #F4F6F5
 *  Sage        #93A87B
 *  Glacier     #779DC4
 *  Lavender    #8C79B2
 *  Astral      #316DA4
 */
html {
	position: relative;
	min-height: 100%;
	background: #F4F6F5;
}

body {
	margin: 0 0 100px;
}

.container {
	max-width: 800px;
}

.splash-head {
	font-size: 25px;
	font-weight: bold;
	color: #F4F6F5;
	padding: 1em 1.6em;
	text-align: center;
	line-height: 1em;
}

.splash-subhead {
	color: #F4F6F5;
	letter-spacing: 0.05em;
	text-align: center;
	opacity: 0.8;
}

footer {
	position: absolute;
	bottom: 0;
	overflow: hidden;
}

p {
	color: black;
}

a {
	color: #316da4;
	outline: none;
	text-decoration: none;
}

div.article-body {
	margin: 50px 10px 10px 10px;
	padding: 50px 10px 10px 10px;
}

div.article-body p{
	text-align: justify;
}

form.annotator-widget {
	border: node;
	
}

.annotator-filter, .annotator-filter .annotator-filter-navigation button, .annotator-editor .annotator-controls {
	text-align: right;
	padding: 2px;
}

span.annotator-hl {
	background-color: #93a87b;
	opacity: .8;
}

div.file i{
	vertical-align: middle;
}