<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<script src="http://assets.annotateit.org/annotator/v1.1.0/annotator-full.min.js"></script>

    <title>Annotate</title>

	<link rel="stylesheet" href="/css/skeleton.css">
	<link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.1.0/annotator.min.css">
    <link rel="stylesheet" href="/css/splash.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
	<div class="container">
		<div class="row account-header">
			<div class="twelve columns">
				<a class="button button-primary" href="/logout">Logout</a>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns file-list">
				<!--
				<div class="row actions">
					<div class="three columns">&#8203;</div>
					<div class="six columns">
						SIX COLUMNS OF BUTTONS	
					</div>
					<div class="three columns">&#8203;</div>
				</div>
				-->
				<div class="row">
					<div class="six columns">File Name | Edit Name</div>
					<div class="six columns" style="text-align: right;">Delete File</div>
				</div>
				{{range .files}}
					<div class="row file">
						<div class="ten columns">
							<!--<input type="checkbox" file="{{.ID}}"/>-->
							<a href="/saved?id={{.ID}}" class="file-name">{{.Name}}</a>
							<a href="#" class="edit" file="{{.ID}}"><i class="material-icons">mode_edit</i></a>
						</div>
						<div class="two columns">
							<a href="#" class="delete" file="{{.ID}}"><i class="material-icons">delete</i></a>
						</div>
					</div>
				{{end}}
				<!--
				<div class="row actions">
					<div class="three columns">&#8203;</div>
					<div class="six columns">
						SIX COLUMNS OF BUTTONS	
					</div>
					<div class="three columns">&#8203;</div>
				</div>
				-->
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
$("a.delete").click(
	function(event) {
		event.preventDefault();
		var fid = $(this).attr("file");
		console.log(fid);

		$.ajax("/me/delete?file=" + fid, {
			type: "DELETE",
			success: function(data) {
				$("div.file").has("a[file='" + fid + "'").remove();
			},
			error: function() {
				console.log("failure");
			}
		});
	}
);
$("a.edit").click(
	function(event) {
		event.preventDefault();
		var fid = $(this).attr("file");
		var fileLink = $(this).siblings(".file-name")[0];
		if (fileLink) {
			$(fileLink).replaceWith('<input name="test" type="text" class="edit-name" value="' + $(fileLink).text() + '">');
		} else {
			var fileEdit = $(this).siblings(".edit-name")[0];
			$.ajax("/me/rename?file=" + fid + "&name=" + $(fileEdit).val(), {
				type: "PUT",
				success: function(data) {
					console.log(data);
				},
				error: function() {
					console.log("failure");
				}
			});
			$(fileEdit).replaceWith('<a href="/saved?id=' + fid + '" class="file-name">' + $(fileEdit).val() + '</a>');
		}
	}
);
</script>
</html>
